<a href="https://colab.research.google.com/github/Bayrem-ben/colab.github.io/blob/main/extract_categ_from_jort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
import cv2
import imutils
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string
import re

In [2]:
from urllib.request import Request, urlopen
import json

import pandas as pd    

file = open("/content/drive/MyDrive/jort/jortapi.json", 'r')
data = file.read()
#data = json.load(file)
file.close()

In [ ]:
import ast

#res = json.loads(data)
res = ast.literal_eval(data)


print(len(res))

In [ ]:
df = pd.DataFrame(data, columns=['article_text, lang'])

In [ ]:
#a_json = json.loads("/content/drive/MyDrive/jort/jortapi.json")
#df = pd.read_json("/content/drive/MyDrive/jort/jortapi.json", orient='columns')
df= pd.read_csv("/content/drive/MyDrive/jort/jortapi.csv")
df

In [8]:
import csv

file = open('/content/drive/MyDrive/jort/jortapi.csv')

csvreader = csv.reader(file)
#header = next(csvreader)
#print(header)
rows = []
for row in csvreader:
    rows.append(row)
#print(rows)
file.close()

In [15]:
df = pd.DataFrame(rows)

In [ ]:
df.head(100)

In [116]:
update_df = df.drop([df.index[0], df.index[1] , df.index[2]]) #
update_df = update_df.drop(df.columns[[0, 1, 2, 3, 4, 5, 6, 8, 10,11,12,13,14,15,16,17,18]], axis=1)
update_df = update_df.dropna()
update_df = update_df[(update_df[9] == "Fr")]
update_df

In [ ]:
update_df

In [ ]:
def clean_txt(text):
  txt = re.sub("\W+", ' ', str(text)) #\W+ 
  txt = re.sub("[$|]", '', str(txt))
  return txt

words1 = []

words2 = []

words3 = []

words4 = []

i = 0
w1 = 0
w2 = 0
w3 = 0
w4 = 0

lis_commercial = []
lis_auction = []
lis_societe = []
lis_annonce = []

for x in update_df :
  x = clean_txt(x)
  #print('section : ', i)
  #print(x)
  i+=1

  for w in words1:
    if (w in x) :
      lis_commercial.append(x)
      w1+=1
      break
      
  for w in words2:
    if (w in x) :
      lis_auction.append(x)
      w2+=1
      break
  
  for w in words3:
    words = words1 + words2 + words4
    #matching = [s for s in words if s in lis_societe]
    for wo in words:
      if w in x and wo not in x:
        lis_societe.append(x)
        w3+=1

  for w in words4:
    words = words1 + words2 + words3
    for wo in words:
      if w in x and wo not in x :
        lis_annonce.append(x)
        w4+=1

In [ ]:
lis_societe = list(dict.fromkeys(lis_societe))
lis_annonce = list(dict.fromkeys(lis_annonce))

word_3 = words1 + words2 + words4
matching3 = [s for s in word_3 if s in lis_societe]
print(matching3)
word_4 = words1 + words2 + words3
matching4 = [s for s in word_4 if s in lis_annonce]
print(matching4)

print('i : ',i)
print('commercial : ',w1,len(lis_commercial)) 
print('auction : ',w2,len(lis_auction))
print('societe : ',w3,len(lis_societe))
print('annonce : ',w4,len(lis_annonce))

[]
[]
i :  92
commercial :  31 31
auction :  9 9
societe :  2532 42
annonce :  658 12

In [ ]:
l1 = list(set(l1) - set(l2+l4))
len(l1)

2843

In [ ]:
l3 = list(set(l3) - set(l1+l2+l4))
len(l3)

3079

In [ ]:
l4 = list(set(l4) - set(l3+l2+l1))
len(l4)

1627

In [ ]:
# Initialize data to lists.
data = l1

# Creates DataFrame.
df1 = pd.DataFrame(data, columns=['أصل تجاري'])
  
# Print the data
df1

In [ ]:
data = l2

# Creates DataFrame.
df2 = pd.DataFrame(data, columns=['بيع بالمزاد العلني'])
  
# Print the data
df2

In [ ]:
data = l3

# Creates DataFrame.
df3 = pd.DataFrame(data, columns=['الشركة طلب العروض'])
  
# Print the data
df3

In [ ]:
data = l4

# Creates DataFrame.
df4 = pd.DataFrame(data, columns=['إعلان'])
  
# Print the data
df4

In [ ]:
from sklearn.utils import shuffle

df1 = shuffle(df1)
df2 = shuffle(df2)
df3 = shuffle(df3)
df4 = shuffle(df4)

In [ ]:
# Initialize data to lists.
data = [l1,l2,l3,l4]

# Creates DataFrame.
df = pd.DataFrame(data, index=[""])
  
# Print the data
df

In [ ]:
df.to_csv(r'/content/drive/MyDrive/press/dataset.csv', index = False)